@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Heebo:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(13 148 136) 0%, rgb(43, 97, 122) 100%);
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(15 118 110) 0%, rgb(2 132 199) 100%);
}
